Ansible.txt
DevopsPractice/
Docker2.pem
Docker_Kubernets.txt
Docker_Kubernets1.sql
Git.txt
Jenkins.txt
Kubernetes_7_30pm/
Linux.txt
Mrt/
Ports_info.txt
Python.txt
Terraform.txt
Test/
ansible_7-30_am_batch/
kubernets.txt
